<h2>LIST OF SENATORS</h2>
<ul class="senators">
  <div>
    <div fxLayout="row wrap" fxLayoutAlign="center stretch"  fxLayoutGap="10px" flex-wrap="wrap">
<ul >
  <li fxFlex="50%"  *ngFor="let senator of senators"
  [class.selected]="senator === selectedSenator"
   (click)="onSelect(senator)">
    <span class="badge">{{senator.id}}</span>{{senator.name}}
    </li>
</ul>
    </div>
</div>
<br><br>
    <div *ngIf="selectedSenator">
  <h2>{{selectedSenator.name | uppercase}} Details
    <div><span>ID: </span>{{selectedSenator.id}}</div>
    <div>
      <label>name:
        <input [(ngModel)]="selectedSenator.name" placeholder="name" />
        </label>
        <div><span>STATE: </span>{{selectedSenator.state}}</div>
        <div><span>PARTY: </span>{{selectedSenator.party}}</div>
        </div>
